.SignIn {
    background-color: #191919;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.SignIn-logo-area {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user-name {
    z-index: 0;
}

.main-body {
    height: 0vh;
}

.SignIn-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.SignIn-logo > img {
    width: 7rem;
}

.SignIn-logo-btn button{
    margin: 0 auto;
    border : none;
    background-color : #FFFFFF;
    color : #1A1A1A;
    padding: 0.8rem 1.5rem;
    line-height: 1rem;
    display: flex;
    align-items: center;
    text-align: center;
    text-transform: capitalize;
    border-radius : 20px;
}

span {
    font-size: 0.9rem;
}

.SignIn-logo-btn button:hover{
    background-color : #c0c0c0;
}